@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway&family=Cabin+Sketch&display=swap');


#carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  #carousel-image {
    max-width: 80%;
    max-height: 80vh;
    /* padding: 40px; */
  }
  
  #carousel-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-icon {
    margin: 10px;
    border: 2px solid #ddd;
    /* border-radius: 50%; */
    cursor: pointer;
    transition: border-color 0.2s;
    width: 5%;
  }
  
  .carousel-icon:hover,
  .selected {
    border-color: #555;
  }

button {
    visibility: hidden;
  }

  header {
    /* background-color: #708ba9; */
    background-image: url(../assets/header.jpg); 
    background-size: 100vw;
    padding-left: 570px;
    padding-top: 30px;
    padding-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Cabin Sketch;
    font-size: 90px;
    color: rgb(75, 172, 241);
    opacity: .5;
}

nav {
    display: inline-block;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 25px;
}

nav>a:visited {
    color: rgb(255, 255, 255);
}

nav>a:hover {
    color: rgb(129, 209, 255)
}

nav>a {
    text-decoration: none;
    font-family: josefin sans;
    display: inline-block;
}

nav>a>h3 {
    font-family: josefin sans;
    text-decoration: none;
    font-size: 30px;
}

  body {
    margin: 0;
    font-family: raleway    ;
    background-image: url(../assets/finalbg.jpg);
    /* background-color: rgb(163, 221, 255); */
    background-size: 100vw;
  }

  footer {
    padding: 20px;
    /* padding-left: 1100px; */
    display: grid;
    justify-content: center;
    background-image: url(../assets/footer.jpg);
    background-size: 100vw;
    color: rgb(233, 238, 255);
    font-family: josefin sans;
    font-size: 20px;
    opacity: .5;
}