/* @import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway&family=Cabin+Sketch&display=swap');

body * {
    box-sizing: border-box;
}   

body {
    margin: 0;
    font-family: raleway    ;
    background-image: url(assets/finalbg.jpg);
    /* background-color: rgb(163, 221, 255); */
    background-size: 100vw;
}

/* header, main, footer {
    padding-left: 5vw;
    padding-right: 5vw;
} */

h1 {
    font-family: Cabin Sketch;
    font-size: 90px;
    color: rgb(75, 172, 241);
    opacity: .5;
}

h1:hover {
    color: rgb(255, 255, 255);
}

.title>h2 {
    font-family: josefin sans;
    font-size: 40px;
    margin-left: 570px;
    color: rgba(255, 245, 245, 0.7);
}

h2 {
    font-family: josefin sans;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
}

header {
    /* background-color: #708ba9; */
    background-image: url(assets/header.jpg); 
    background-size: 100vw;
    padding-left: 570px;
    padding-top: 30px;
    padding-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: inline-block;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 25px;
}

nav>a:visited {
    color: rgb(255, 255, 255);
}

nav>a:hover {
    color: rgb(129, 209, 255)
}

nav>a {
    text-decoration: none;
    font-family: josefin sans;
    display: inline-block;
}

nav>a>h3 {
    font-family: josefin sans;
    text-decoration: none;
    font-size: 30px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 100px;
    padding-left: 15vw;
    padding-right: 15vw;
}

.card {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 10px;
    /* border: black 1px solid; */
    background-color: rgba(255, 255, 255, 0.7);
    display: grid;
    grid-template-columns: 2fr 1fr;
    flex-wrap: wrap;
    font-weight: 1000;
}

.card>img {
    padding-bottom: 7px;
}

.card3, .card4 {
    padding-bottom: 7px;
}

.card1>h2, .card2>h2 {
    text-align: center;
    padding-right: 20px;
    font-style: italic;
}

.card3>h2, .card4>h2 {
    text-align: center;
}

.card1>p, .card2>p, .card3>p, .card4>p {
    line-height: 30pt;
    padding-right: 10px;
    padding-left: 10px;
}

.card>img {
    width: 200px;
    opacity: 1;
}

.card>a>img {
    width: 200px;
}

.card:hover {
    background-color: hsla(216, 15%, 27%, 0.737);
    color: white;
    transition: ease-in-out .5s;
}

.fake {
    padding: 20px;
    display: grid;
    justify-content: space-evenly;
    font-family: josefin sans;
    /* margin: 30px; */
}

#dark {
    color: rgb(0, 0, 0);
    /* border: solid black 1px; */
    padding: 15px;
    background-color: rgb(149, 149, 149);
    /* border-radius: 50%; */
}

#dark:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
    transition: ease-in-out .25s;
}

#light {
    color: rgb(255, 255, 255);
    /* border: solid rgb(144, 144, 144) 1px; */
    padding: 15px;
    background-color: rgb(87, 87, 87);
}

#light:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: ease-in-out .25s;
}

footer {
    padding: 20px;
    /* padding-left: 1100px; */
    display: grid;
    justify-content: center;
    background-image: url(assets/footer.jpg);
    background-size: 100vw;
    color: rgb(233, 238, 255);
    font-family: josefin sans;
    font-size: 20px;
    opacity: .5;
}

.muvids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 100px;
    padding-left: 5vw;
    padding-right: 10vw;
    padding: 17vh;
}

.muvid {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    /* border: black 1px solid; */
    background-color: rgba(255, 255, 255, 0.7);
    display: grid;
    grid-template-columns: 2fr 1fr;
    flex-wrap: wrap;
    font-weight: 1000;
}

.muvid:hover {
    background-color: hsla(216, 15%, 27%, 0.737);
    color: white;
    transition: ease-in-out .5s;
}

.muvid>a {
    text-align: center;
    padding: 10px;
}

.muvid>a:visited {
    color: rgb(0, 0, 0);
}

.muvid>a:hover {
    color: rgb(255, 255, 255);
    transition: ease-in-out .5s;
}

.tiktoks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 100px;
    padding-left: 20vw;
    padding-right: 10vw;
    /* padding: 17vh; */
}

.tiktok {
    width: 40%;
}

.tiktok-embed

.ctitle>h2 {
    font-family: josefin sans;
    font-size: 25px;
    margin-left: 170px;
    color: rgba(255, 245, 245);
}

.cotitle>h2 {
    font-family: josefin sans;
    font-size: 45px;
    margin-left: 470px;
    color: rgba(255, 245, 245, .8);
}

.ctitle>p {
    font-family: josefin sans;
    font-size: 15px;
    margin-left: 170px;
    color: rgba(255, 255, 255, 0.9);
}

.ctitle>p>a:visited {
    color: rgba(255, 245, 245, 0.7);
}

.ctitle>p>a {
    color: rgba(255, 245, 245);
}

.ctitle>p>a:hover {
    color: rgb(255, 94, 94);
}

.standup>h2 {
    font-family: josefin sans;
    font-size: 25px;
    margin-left: 770px;
    color: rgba(255, 245, 245);
}

.standup>p {
    font-family: josefin sans;
    font-size: 15px;
    margin-left: 470px;
    color: rgba(255, 245, 245, .9);
}

.standup>p>a {
    color: rgb(255, 255, 255);
}

.standup>p>a:visited {
    color: rgba(255, 245, 245, 0.7);
}

.standup>p>a:hover {
    color: rgb(255, 94, 94);
}